.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100vh;
}

.contentWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
